body {
    
    left:0px;
    outline:0;
    border:0;
    margin:0;

    background-image: url('assets/tree.jpg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-color: #565b56;
  }

.background {

    background-image: url('assets/tree.jpg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
}

#profile {
    background:purple;
    position:absolute;
    right:0px;
    width:20%;
    height:100%;
}

.posts{
    align-items: center;
    padding: 0%;
    margin: 0;
    
}

nav {
    float:left;
    background-color: rgb(211, 219, 213);
    font-family: 'Montserrat';
    font-size: 30px;
    color: blue;
    padding: 20px 10px;
    width:100%;
    position:absolute;
    outline:0;
    border:0;
    margin:0;
}



.user {
    float:right;
}

#content{

    background-color:blue;
    float:left;
    width:80%;
    outline:0;
    border:0;
    margin:0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.row{
    display: flex;
    flex: 33.33%;
    opacity: 0;
    animation: fadeIn .5s ease-in-out forwards; 

}
.column {
    display: flex;
    flex: 33.33%;
    padding: 5px;
    
  }

  