body {
    background-color: #E2E5DF;
    left:0px;
    outline:0;
    border:0;
    margin:0;
  }

#profile {
    background:purple;
    position:absolute;
    right:0px;
    width:20%;
    height:100%;
}

.posts{
    align-items: center;
    padding: 0%;
    margin: 0;
}

nav {
    float:left;
    background-color: brown;
    font-family: 'Montserrat';
    font-size: 30px;
    width:100%;
    padding:0px;
    position:absolute;
    outline:0;
    border:0;
    margin:0;
}

.navtext {
    padding: 0px;
    margin:0px;
}

.user {
    float:right;
}

#content{

    background-color:blue;
    float:left;
    width:80%;
    outline:0;
    border:0;
    margin:0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.row{
    display: flex;
    flex: 33.33%;
    opacity: 0;
    animation: fadeIn .5s ease-in-out forwards; 

}
.column {
    display: flex;
    flex: 33.33%;
    padding: 5px;
  }

  