body {
    background-color: green;
    left:0px;
    outline:0;
    border:0;
    margin:0;
  }

#profile {
    background:purple;
    position:absolute;
    right:0px;
    width:20%;
    height:100%;
}

nav {
    float:left;
    background-color: brown;
    font-family: 'Montserrat';
    font-size: 30px;
    width:100%;
    padding:0px;
    position:absolute;
    outline:0;
    border:0;
    margin:0;
}

#navtext {
    padding: 100px;
}

#content{

    background-color:blue;
    float:left;
    width:80%;
    outline:0;
    border:0;
    margin:0;
}