.row{
    display: flex;
}
.column {
    flex: 33.33%;
    padding-left: 35px;

    
    opacity: 0;
    animation: fadeIn .5s ease-in-out forwards; 
  }

  nav {
    float:left;
    background-color: rgb(211, 219, 213);
    font-family: 'Montserrat';
    font-size: 38px;
    color: blue;
    padding-bottom: 20px;
    padding-top: 20px;
    width:100%;
    position:absolute;
    outline:0;
    border:0;
    margin:0;
    text-align:left;
}

.user {
    float:right;
    padding-right:30px;
}

body {
    
    left:0px;
    outline:0;
    border:0;
    margin:0;

    background-image: url('assets/tree.jpg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-color: #565b56;
  }

  .title {
    color:white;
    font-size:60px;
    padding-bottom:20px;
    text-align:center;
  }

  a:visited { 
    text-decoration: none; 
    color:rgb(5, 154, 5); 
   }

a:hover { 
    text-decoration: none; 
    color:rgb(3, 122, 3); 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}